
.DemoLaunchIcon {
	width: 32px;
	height: 32px;
	background: url('images/neurogaint.png') no-repeat;
	
}

.DemoLaunchIcon {
	width: 32px;
	height: 32px;
	background: url('images/thumbnail_Outlook-0ntlkjgh.png') no-repeat;
	
}
