<div class="ecmCenterPane">
	<!--  Please add your configuration pane -->
	<!--  For example  -->
	<div data-dojo-type="idx/layout/BorderContainer"
		data-dojo-props="gutters:true">
		<div data-dojo-attach-point="topPane"
			data-dojo-type="dijit/layout/ContentPane"
			data-dojo-props="splitter:true,region:'top'"></div>
		<div data-dojo-attach-point="centerPane"
			data-dojo-type="dijit/layout/ContentPane"
			data-dojo-props="region:'center'">


			<div id="formContainer">
				<h2>Employee Registration</h2>
				<form id="docForm" data-dojo-attach-point="docForm" data-dojo-type="dijit/form/Form"
					>

					<div class="formRow">
						<label for="docTitle">Doc Title:</label> <input id="docTitle"
							name="docTitle" data-dojo-attach-point="docTitle" data-dojo-type="dijit/form/TextBox"
							required="true" placeholder="Enter doc title" />
					</div>

					<div class="formRow">
						<label for="docClass">Doc Class:</label> <input id="docClass"
							name="docClass" data-dojo-type="dijit/form/TextBox"
							required="true" placeholder="enter doc class" />
					</div>



					<!-- <div class="formRow">
						<label for="file">Doc File:</label> <input id="file" name="file"
							data-dojo-type="dojox/form/Uploader" required="true" />
					</div> -->

					<div class="formRow" style="text-align: center;">
						<button data-dojo-type="dijit/form/Button" type="submit" data-dojo-attach-event="onClick : display">Upload</button>
						<button data-dojo-type="dijit/form/Button" type="reset">Clear</button>
					</div>

				</form>

			</div>
		</div>
	</div>

</div>
