<div class="ecmCenterPane">
	<!--  Please add your configuration pane -->
	<!--  For example  -->
	<div data-dojo-type="idx/layout/BorderContainer"
		data-dojo-props="gutters:true">
		<div data-dojo-attach-point="topPane"
			data-dojo-type="dijit/layout/ContentPane"
			data-dojo-props="splitter:true,region:'top'"></div>
		<div data-dojo-attach-point="centerPane"
			data-dojo-type="dijit/layout/ContentPane"
			data-dojo-props="region:'center'">
			<form id="docForm">

				<label for="docTitle">Doc Title:</label> <input id="docTitle"
					name="docTitle" data-dojo-attach-point="docTitle"
					data-dojo-type="dijit/form/TextBox" required="true"
					placeholder="Enter doc title" />
			   <label for="docClass">Doc Class:</label> <input id="docClass" name="docClass"
					data-dojo-attach-point="docClass"
					data-dojo-type="dijit/form/TextBox" required="true"
					placeholder="Enter doc Class" />



				<!-- <div class="formRow">
						<label for="file">Doc File:</label> <input id="file" name="file"
							data-dojo-type="dojox/form/Uploader" required="true" />
					</div> -->


				<button data-dojo-type="dijit/form/Button"
				id="submitBtn" data-dojo-attach-point="submitBtn">Upload</button>

			</form>



		</div>
	</div>

</div>
